# Dependencies
node_modules
.pnp
.pnp.js
__pycache__
.venv

# Testing
coverage

# Production
build
dist

# Secrets (shh!)
.env
ngrok-config.yml

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
